# Gitingore file
##################

# Files
#########
*.ipynb
.ipynb.checkpoints
*/.ipynb.checkpoints/*

# Folders
###########
[Bb]ench/
__pycache__/

# Binaries
############
*.exe
*.dll
*.pyc
*.pyd
*.bat
*.ps1
