<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<head {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>

    {{ partial "head-meta.html" . }}



    <!-- :TODO: know more about schema.org, view technical_note/single.html -->
    {{ block "schema-dot-org" . }}
    <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}


    <title>{{ .Title }}{{ if not .IsHome }} - {{ .Site.Title }}{{ end }}</title>

    {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">
    {{ end }}


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->

    <link rel="shortcut icon" type="image/x-icon" href="{{ with .Site.Params.favicon }}{{ . | absURL }}{{ else }}{{ "images/favicon.ico" | absURL }}{{ end }}">
    <link rel="icon" type="image/x-icon" href="{{ with .Site.Params.favicon }}{{ . | absURL }}{{ else }}{{ "images/favicon.ico" | absURL }}{{ end }}">


    <!-- Custom styles for this template -->
    <link href="{{ .Site.BaseURL }}css/custom.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/syntax.css" rel="stylesheet">
    {{- with .Site.Params.fonts -}}
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,700|Roboto:400,500,700" rel="stylesheet">
    {{ end }}

    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ partial "mathjax_support.html" . }}

</head>
