<!-- :TODO: know more about schema.org, view technical_note/single.html -->
{{ block "schema-dot-org" . }}
<!-- schema.org metadata differs for Nodes and Pages -->
{{ end }}


<title>{{ .Title }}{{ if not .IsHome }} - {{ .Site.Title }}{{ end }}</title>

{{ $description := .Site.Params.description }}
<meta name="description" content="{{ $description }}">

{{ $author := .Site.Params.author }}
<meta name="author" content="{{ $author }}">

<link rel="canonical" href="{{ .Permalink }}">


<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Bootstrap core CSS -->


<!-- The favicon is not visible for all pages like 'page source' -->
<link rel="shortcut icon" type="image/x-icon" href="{{ with .Site.Params.favicon }}{{ . | absURL }}{{ else }}{{ "images/favicon.ico" | absURL }}{{ end }}">
<link rel="icon" type="image/x-icon" href="{{ with .Site.Params.favicon }}{{ . | absURL }}{{ else }}{{ "images/favicon.ico" | absURL }}{{ end }}">


<!-- Custom Styles for this theme -->
{{- $headers := .Site.Params.font.headers -}}
{{- $body := .Site.Params.font.body -}}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ $headers }}:400,500,700|{{ $body }}:400,500,700">

<link rel="stylesheet" href="{{ "css/custom.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/application.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/temporary.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/palettes.css" | absURL }}">
<link rel="stylesheet" href="{{ with .Site.Params.highlight_css }}{{ . | absURL }}{{ else }}{{ "css/highlight/highlight.css" | absURL }}{{ end }}">

<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />

<!-- js scripts -->
<script src="{{ "js/modernizr.js" | absURL }}"></script>
{{ partial "mathjax_support.html" . }}
