@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --border-color: #2C3A49;
  --border: 4px solid var(--border-color);
  --border-radius: 5px;
  --color-orange: #ffa726;
  --color-blue: #1bb5fe;
  --color-green: #3ddc81;
  --color-red: #f75d4c;
  --orange-width: 130px;
  --orange-height: 120px;
  --blue-width: 120px;
  --blue-height: 160px;
  --green-width: 100px;
  --green-height: 100px;
}

body {
  background: #34e1ff;
  font-family: 'Fredoka One', cursive;
  overflow-x: hidden; /* erase */
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* erase */
}

.text {
  min-width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px var(--border-color);
  font-size: 3em;
}

.text .char {
  animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
  animation-delay: calc(60ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-.5turn) scale(0.5);
    opacity: 0;
  }
}

.presents {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
}

.present {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.orange {
  position: relative;
  left: 20px;
  width: var(--orange-width);
  height:  var(--orange-height);
  z-index: 10;
}
.orange .lid {
  background: var(--color-orange);
}
.orange .box {
  background-image: radial-gradient(var(--border-color) 20%, transparent 20%),
                    radial-gradient(var(--border-color) 20%, transparent 20%);
  background-color: var(--color-orange);
}
.orange .bow, .orange .bow::before, .orange .bow::after {
  background: var(--color-red);
}
.orange .ribbon {
  background: var(--color-red);
}
.orange:hover {
  animation: .5s orange-animation;
}
@keyframes orange-animation {
  0% {
    width: var(--orange-width);
    height: var(--orange-height);
  }
  30% {
    width: calc(var(--orange-width) + 10px);
    height: calc(var(--orange-height) - 10px);
  }
  60% {
    width: calc(var(--orange-width) - 10px);
    height: calc(var(--orange-height) + 10px);
  }
  100% {
    width: var(--orange-width);
    height: var(--orange-height);
  }
}

.blue {
  position: relative;
  left: 0;
  width: var(--blue-width);
  height:  var(--blue-height);
  z-index: 0;
}
.blue .lid {
  background: var(--color-blue);
}
.blue .box {
  background-image: radial-gradient(transparent 20%, transparent 20%),
                    radial-gradient(transparent 20%, transparent 20%);
  background-color: var(--color-blue);
}
.blue .bow, .blue .bow::before, .blue .bow::after {
  background: var(--color-green);
}
.blue .ribbon {
  background: var(--color-green);
}
.blue:hover {
  animation: .5s blue-animation;
}
@keyframes blue-animation {
  0% {
    width: var(--blue-width);
    height: var(--blue-height);
  }
  30% {
    width: calc(var(--blue-width) + 10px);
    height: calc(var(--blue-height) - 10px);
  }
  60% {
    width: calc(var(--blue-width) - 10px);
    height: calc(var(--blue-height) + 10px);
  }
  100% {
    width: var(--blue-width);
    height: var(--blue-height);
  }
}

.green {
  position: relative;
  left: -20px;
  width: var(--green-width);
  height:  var(--green-height);
  z-index: 1;
}
.green .lid {
  background: var(--color-green);
}
.green .box {
  background-image: radial-gradient(#fff 20%, transparent 20%),
                    radial-gradient(#fff 20%, transparent 20%);
  background-color: var(--color-green);
}
.green .bow, .green .bow::before, .green .bow::after {
  background: var(--color-red);
}
.green .ribbon {
  background: var(--color-red);
}
.green:hover {
  animation: .5s green-animation;
}
@keyframes green-animation {
  0% {
    width: var(--green-width);
    height: var(--green-height);
  }
  30% {
    width: calc(var(--green-width) + 10px);
    height: calc(var(--green-height) - 10px);
  }
  60% {
    width: calc(var(--green-width) - 10px);
    height: calc(var(--green-height) + 10px);
  }
  100% {
    width: var(--green-width);
    height: var(--green-height);
  }
}

.lid {
  height: 20%;
  width: calc(100% + 10px);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: inset 2px 2px rgba(255,255,255,.5), 5px 0 rgba(0,0,0,.15);
}

.box {
  width: 100%;
  height: 100%;
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
  border: var(--border);
  border-top: 0;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: inset -10px 5px rgba(0,0,0,.3), 5px 0 rgba(0,0,0,.15);
}

.bow {
  position: absolute;
  top: -20px;
  width: 20px;
  height: 20px;
  border: var(--border);
  border-radius: 50%;
  box-shadow: inset 2px 2px rgba(255,255,255,.5), -2px -5px rgba(0,0,0,.3);
}
.bow::before, .bow::after {
  display: block;
  content: '';
  position: absolute;
  top: -10px;
  width: 30px;
  height: 30px;
  border: var(--border);
  border-radius: 50%;
  box-shadow: inset 2px 2px rgba(255,255,255,.5), -2px -5px rgba(0,0,0,.3);
  z-index: -1;
}
.bow::before {
  left: 15px;
}
.bow::after {
  right: 15px;
}

.ribbon {
  position: absolute;
  top: -3px;
  width: 30px;
  height: calc(100% - 5px);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: inset 2px 2px rgba(255,255,255,.5);
}
.ribbon::before {
  display: block;
  content: '';
  position: absolute;
  top: 21%;
  width: 100%;
  height: 5px;
  background: rgba(0,0,0,.3);
}