{{ define "main" }}
<main>
    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <span class="minor_line">{{ .Description }}</span>
                    <span class="major_line">{{ .Title }}</span><br>
                </h1>

                {{ range .Site.Sections }}
                <div class="card">
                    <h3 class="card-header">
                        {{ .Title }}
                    </h3>
                    <div class="card-body">
                        <ul>
                            {{ range .Pages }}
                            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</main>
{{ end }}
